{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
    <meta name="keywords" content="Books, recent, Learning, library">
    <meta name="description" content="Books website">
    <meta name="author" content="author name">
    <link rel="icon" href="{% static 'images/qu-icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- تضمين الهيدر الموحد -->
    {% include 'includes/header.html' %}

    <!-- مكان المحتوى المتغير لكل صفحة -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>